package components 

templ RestaurantTable() {

  <!-- Loading Indicator -->
  <div id="loading" @attr class="mt-2 text-blue-500 htmx-indicator hidden">Loading...</div>

  <div id="searchResults" @attr class="mt-4"></div>


}

