package ui

templ MainTempl(name string) {
    <html>
      <head>
        <title>Skip The Choices</title>
      </head>
      <body>
        <h1 >Skip The Choices</h1>
        <p>{ name }</p>
      </body>
    </html>
  }
